services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: astronomia-galaxy-api
    env_file: .env
    ports:
      - "8000:8000"
    volumes:
      - ./artifacts:/app/artifacts
